@import "../../style/common.scss";

.release {
    &__main {
        display: block;
        background-color: rgba(255, 255, 255, 0.7);
        filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#B8ffffff,EndColorStr=#B8ffffff);
        margin: 60px auto 0;
        padding: 50px 0 0;
    }

    &__contents {
        padding: 0 20px 100px;
    }

    &__headingArea {
        margin-bottom: 40px;
    }
    &__heading {
        margin-bottom: 10px;
    }
    &__date {
        margin-top: 0;
        text-align: center;
    }
    &__body {
        h1, h2, h3 {
            margin: 50px 0 1rem;
            font-size: 1.2rem;
        }
        
        p {
            margin: 0;
            line-height: 1.8;
        }

        img {
        }
    }
}
